<template>
  <div class="cancelPaymentCountdown">
    <div class="countdownContainer" :class="{pause: pause}" :style="{width:`160px`,height:`160px`,'line-height':`160px`}">
      <div class="text" v-t="{path:'CANCEL'}">
      </div>
      <svg id="svg" width="160" height="160" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <circle :r="baseRadius" :cx="arcX" :cy="arcY" fill="transparent" :stroke-width="baseStrokeWidth"></circle>
        <circle class="arc" :r="arcRadius" :style="{'stroke-dashoffset':strokeDashOffSet}" :cx="arcX" :cy="arcY" fill="transparent" :stroke-width="arcStrokeWidth" :stroke-dasharray="arcStrokeDasharray"></circle>
      </svg>
    </div>
  </div>
</template>
<script>
export default {
  created () {
    let data = { width: 160, height: 160 }
    this.arcX = data.width / 2
    this.arcY = data.height / 2
    this.baseRadius = this.arcX - 10
    this.baseStrokeWidth = 20
    this.arcRadius = this.baseRadius - 7
    this.arcStrokeWidth = 25
    this.arcStrokeDasharray = Math.PI * this.arcRadius * 2
  },
  mounted () {
    this.pauseCount(false)
  },
  beforeDestroy () {
    clearInterval(this.counterTimer)
  },
  data () {
    return {
      arcX: 0,
      arcY: 0,
      baseRadius: 0,
      baseStrokeWidth: 0,
      arcRadius: 0,
      arcStrokeWidth: 0,
      arcStrokeDashway: 0,
      strokeDashOffSet: 0,
      second: this.initSec,
      counterTimer: -1
    }
  },
  watch: {
    pause (value) {
      this.pauseCount(value)
    }
  },
  props: ['pause', 'initSec'],
  methods: {
    pauseCount (value) {
      if (!value) {
        this.counterTimer = setInterval(() => {
          if (this.second) {
            let r = 1 - (this.second / this.initSec)
            this.strokeDashOffSet = Math.PI * (this.arcRadius * 2) * r
          } else {
            this.$emit('end')
            clearInterval(this.counterTimer)
            return
          }
          --this.second
        }, 1000)
      } else {
        clearInterval(this.counterTimer)
      }
    }
  }
}
</script>
