<template>
  <div class="choice- choice-cash" v-if="isShow">
    <div class="action-step">
      <div class="cash-status">
        <span class="cash-inserted-hint">{{$t(price > paid ? 'PLEASE_INSERT_THE_CASH' : 'CASH_WILL_REFUND')}}</span>
        <span class="cash-remain">
          {{ Math.abs(price - paid) }}
        </span> 元
      </div>
    </div>
    <div class="cash-inserted-container">
      <span class="cash-inserted">{{paid}}</span>
      <p v-t="{path: 'CASH_ALREADY_INSERT'}"></p>
    </div>
  </div>
</template>
<script>
import ebus from '../../shared/ebus.js'

export default {
  created () {
    ebus.on(['payment/after_hint', 'payment/after_paid'], this.getPaid)
    ebus.on('payment/after_payment_begin', this.afterPaymentBegin)
  },
  destroyed () {
    ebus.off(['payment/after_hint', 'payment/afer_paid'], this.getPaid)
    ebus.off('payment/after_payment_begin', this.afterPaymentBegin)
  },
  data () {
    return {
      isShow: true,
      paid: 0
    }
  },
  props: ['price'],
  methods: {
    getPaid ({ e, arg, from, to }) {
      if (arg.paid) {
        let paid = parseInt(arg.paid)
        this.paid = paid
      }
    },
    afterPaymentBegin ({ e, arg, from, to }) {
      if (arg.method !== 'cash') {
        this.isShow = false
      } else {
        this.isShow = true
      }
      if (arg.paid) {
        let paid = parseInt(arg.paid)
        this.paid = paid
      }
    }
  }
}
</script>
