<template>
  <transition name="fade">
    <div class="one-product" v-if="isShow">
      <div class="product-board"></div>
      <div class="product-image">
        <img :src="product.dm" alt="">
      </div>
      <div class="product-content">
        <div class="cancelPaymentCountDown">
          <cancel-spinner @click.native.stop="cancel()" @end="timeout()" :pause="pause" :initSec="cancelSecond">cancel</cancel-spinner>
          <div class="title">
            {{product.getName() || product.title}}
          </div>
          <div class="desc">{{product.getDesc()}}</div>
          <div class="price">{{product.price}}</div>
          <span class="CurrencySymbol">{{ CURRENCY_SYMBOL }}</span>
        </div>
      </div>
      <div class="product-board-warning" v-if="warning">
        {{warningContent}}
      </div>
      <payment-choice :paymentMethodsList="paymentMethods"></payment-choice>
      <transaction @end="onEnd"></transaction>
      <transition name="slide">
        <live-view v-if="liveView"></live-view>
      </transition>
    </div>
  </transition>
</template>
<script>
import config from '../../shared/config.js'
import ebus from '../../shared/ebus.js'
import IProducts from '../../store/products'
import merge from 'merge'
import langzhtw from '../../lang/zhtw/default'
import langen from '../../lang/en/default'
import langmyMM from '../../lang/my-MM/default'

// Components
import Cancel from './cancel-spinner'
import PaymentChoice from './payment-choice'
import Transaction from './transaction-interactive'
import LiveView from './live-view'

import { getPaymentDetail } from './payment.store.js'

export default {
  created () {
    if (config.getLocalization() === 'zh-tw') {
      this.CURRENCY_SYMBOL = langzhtw.CURRENCY_SYMBOL
    } else if (config.getLocalization() === 'en-us') {
      this.CURRENCY_SYMBOL = langen.CURRENCY_SYMBOL
    } else if (config.getLocalization() === 'my-MM') {
      this.CURRENCY_SYMBOL = langmyMM.CURRENCY_SYMBOL
    }
  },
  mounted () {
    ebus.on('order/after_ordered', ({ e, arg }) => {
      this.product = IProducts.getProductById(arg.p_id)
      this.isShow = true
      this.pause = false
      this.afterPaymentBegin = false
    })
    ebus.on('payment/after_hint', ({ e, arg }) => {
      if (arg && arg.payment_method) {
        this.paymentMethods = merge.recursive(true, arg.payment_method)
        let pmStore = getPaymentDetail()
        pmStore.methods = merge.recursive(true, arg.payment_method)
      }
    })
    ebus.on('payment/after_cancelled', () => {
      this.isShow = false
      this.product = undefined
    })
    ebus.on('payment/after_payment_begin', () => {
      this.afterPaymentBegin = true
      this.pause = true
    })
    ebus.on('payment/after_input', () => {
      this.pause = true
    })
    ebus.on('sess/timeout', () => {
      this.isShow = false
    })
    ebus.on('sys/after_hint', ({ e, arg }) => {
      let option = arg.act ? arg.act : 'skip'
      if (option === 'liveview_ready') {
        this.liveView = true
      } else {
        this.liveView = false
      }
    })
    ebus.on('NowLang', (val) => {
      if (val === 'zh-tw') {
        this.CURRENCY_SYMBOL = langzhtw.CURRENCY_SYMBOL
      } else if (val === 'en-us') {
        this.CURRENCY_SYMBOL = langen.CURRENCY_SYMBOL
      } else if (val === 'my-MM') {
        this.CURRENCY_SYMBOL = langmyMM.CURRENCY_SYMBOL
      } else {
        this.CURRENCY_SYMBOL = '$'
      }
    })
  },
  components: {
    cancelSpinner: Cancel,
    PaymentChoice,
    Transaction,
    LiveView
  },
  data () {
    return {
      isShow: false,
      product: undefined,
      warning: false,
      warningContent: '',
      pause: false,
      cancelSecond: 30,
      paymentMethods: [],
      afterPaymentBegin: false,
      liveView: false,
      CURRENCY_SYMBOL: ''

    }
  },
  methods: {
    timeout () {
      ebus.send({ 'e': 'payment/timeout' })
      this.isShow = false
      ebus.emit('closePscQr')
    },
    cancel () {
      ebus.send({ 'e': 'payment/cancelled' })
      this.isShow = false
    },
    onEnd () {
      if (this.afterPaymentBegin) {
        this.isShow = false
      }
    }
  }
}
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active,
.slide-enter-active,
.slide-leave-active {
  position: absolute;
  transition: 0.5s;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-700px);
}
.fade-leave-to {
  opacity: 0;
}

.slide-enter {
  opacity: 0;
  transform: translateX(1240px);
}
.slide-leave-to {
  opacity: 0;
}

.CurrencySymbol {
  position: absolute;
  top: 390px;
  left:100px;
  font-size: 50px;
  font-weight: 100;
}
</style>
