<template>
  <div class="sidebar on" v-if="src">
    <div class="tab">
      <div class="container">
        <video :src="src" class="webCam"></video>
      </div>
    </div>
  </div>
</template>
<script>
import liveview from '@/store/live-view'
export default {
  async mounted () {
    this.src = await liveview.open()
  },
  destroyed () {
    this.src = ''
  },
  data () {
    return {
      src: ''
    }
  }
}
</script>
<style scoped>

.sidebar {
    position: absolute;
    right: 5px;
    width: 190px;
    height: 120px;
    z-index: 4500;
    font-family: '文泉驛正黑', sans-serif;
    color: black;
    background: #6FBEFF;
    border-radius: 2em;
    transition: 1s;
    align-items: center;
    border: 2px solid #6FBEFF;
    overflow: hidden;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0;
    align-items: center;
    top: 600px;
}

.sidebar .tab {
    position: absolute;
    /*top: 10px;*/
    /*left: 20px;*/
    width: 160px;
    height: 120px;
}

.sidebar .tab .text-field {
    position: absolute;
    text-align: center;
    left: 20px;
    font-size: 24px;
}

.sidebar .tab .container {
    position: absolute;
    /*top: 30px;*/
    left: 15px;
}

.webCam {
    float: right;
    border-radius: 1em;
    /*水平翻转*/
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*IE*/
    filter: FlipH;
}
</style>
