<template>
  <div class="product-payment" v-if="paymentMethodsHasIntroduction.length">
    <div class="choice" v-if="!selectCash">
      <pre class="title">{{$t('cash' in paymentMethodsList ? 'PAYMENT_WITH_CASH' : 'PAYMENT_NO_CASH')}}</pre>
      <div class="no-cash">
        <div @click.stop="paymentClickMethod(paymentMethod)" v-if='paymentMethod' :class="`${paymentMethod.name}`" v-for="(paymentMethod, index) in paymentMethodsHasIntroduction" :key="index">
          <div class="payment-icon"></div>
          <span v-t="{path: paymentMethod.description, args:phonePayCategories(paymentMethod)}"></span>
        </div>
      </div>
    </div>
    <div class="payment-info" :class="`payment-info-${payment.name}`" v-if="payment">
      <div class="bg"></div>
      <div class="info">
        <div class="icon"></div><br>
        <img :src="qrimg" v-if="isShowQR" width="150">
        <button class="btn-confirm" @click.prevent.stop="paymentTrigger(payment.triggerName)" v-if="payment.userTrigger">{{$t('PAY_CONFIRM')}}</button>
        <p class="info-message" v-t="{path:payment.information, arg:phonePayCategories(payment)}"></p>
        <button class="btn-back" @click.prevent.stop="payment=false">{{$t('GO_BACK')}}</button>
      </div>
    </div>
    <cash-container :price="paymentMethodsList.cash.price" v-if="paymentMethodsList.cash"></cash-container>
  </div>
</template>
<script>
import { getPayment } from '../../store/payment/payment-methods.js'
import CashContainer from './cash-container'

import ebus from '../../shared/ebus.js'

export default {
  props: {
    paymentMethodsList: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  computed: {
    paymentMethodsHasIntroduction () {
      return Object.keys(this.paymentMethodsList).map(paymentMethod => getPayment(paymentMethod)).filter(ele => !!ele)
    }
  },
  created () {
    ebus.on('payment/after_payment_begin', this.onPaymentBegin)
    ebus.on('qrcodeUrl', this.showQR)
  },
  beforeDestroy () {
    ebus.off('payment/after_payment_begin', this.onPaymentBegin)
  },
  data () {
    return {
      payment: false,
      afterPaymentBegin: false,
      selectCash: false,
      qrimg: '',
      isShowQR: false
    }
  },
  methods: {
    paymentTrigger (value) {
      ebus.send({ e: 'payment/input', arg: { payment_method: value, mid: 'payment_wait_' + value } })
    },
    onPaymentBegin ({ e, arg }) {
      let method = arg.method
      if (method === 'cash') {
        this.selectCash = true
      }
      this.afterPaymentBegin = true
    },
    phonePayCategories (payment) {
      console.log('payment => ' + JSON.stringify(payment))
      if (payment.name !== 'trusty' || payment.name !== 'kbzpay' || payment.name !== 'phone-pay') return
      alert('paymentMethodsList => ' + JSON.stringify(this.paymentMethodsList))
      let list = Object.keys(this.paymentMethodsList).filter(key => key.startsWith('isc_')).map(key => key.replace('isc_', ''))
      alert('list => ' + JSON.stringify(list))
      return { var: list.join(', ') }
    },
    paymentClickMethod (data) {
      if (data.name === 'kbzpay') {
        this.isShowQR = true
      } else {
        this.isShowQR = false
      }
      this.payment = data
    },
    showQR (data) {
      this.qrimg = data
    }
  },
  components: {
    CashContainer
  }
}
</script>
<style scoped>
.info {
  text-align: left;
}
.info-message {
  white-space: pre-wrap;
}
.no-cash {
  white-space: pre-wrap;
}
</style>
