<template>
  <div class="receipt">
    <p class="title"></p>
    <div class="title" v-t="{path: 'Q_PRINT_RECEIPT'}"></div>
    <button class="btn-sqr" @click.stop.prevent="onClick(true)">{{$t('YES')}}</button>
    <button class="btn-sqr" @click.stop.prevent="onClick(false)">{{$t('NO')}}</button>
  </div>
</template>
<script>
import ebus from '../../shared/ebus.js'
import { showTimeline, hideTimeline } from './transaction.service.js'
export default {
  mounted () {
    showTimeline(10, this.cancel, true)
  },
  beforeDestroy () {
    hideTimeline()
  },
  methods: {
    cancel: () => ebus.send({ e: 'invoice/cancel' }),
    confirm: () => ebus.send({ e: 'invoice/input', arg: { 'invoice_receipt': true } }),
    onClick (value) {
      if (value) {
        this.confirm()
      } else {
        this.cancel()
      }
      this.$emit('end')
    }
  }
}
</script>
