<template>
  <div class="timeline" v-if="isShow" :style="{width: `${timeline}%`}"></div>
</template>
<script>
import ebus from '../../shared/ebus.js'
export default {
  created () {
    ebus.on('ipc:showTransactionTimeline', this.showTimeline)
    ebus.on('ipc:hideTransactionTimeline', this.closeTimeline)
  },
  beforeDestroy () {
    ebus.off('ipc:showTransactionTimeline', this.showTimeline)
    ebus.off('ipc:hideTransactionTimeline', this.closeTimeline)
    clearInterval(this.timer)
  },
  data () {
    return {
      onEndCallbackFn: undefined,
      timer: -1,
      timeStamp: -1,
      isShow: false,
      second: -1
    }
  },
  computed: {
    timeline () {
      return this.second / this.timeStamp * 100
    }
  },
  methods: {
    /**
     * @param {number} time
     * @param {Function} onEndCallback
     * @param {boolean} show
     */
    showTimeline (time, onEndCallback, show = false) {
      clearInterval(this.timer)
      this.isShow = show
      if (time === -1) return
      this.onEndCallbackFn = onEndCallback
      this.timeStamp = time * 1000
      this.second = time * 1000
      this.timer = setInterval(() => {
        this.second -= 100
        if (!this.second) {
          clearInterval(this.timer)
          this.isShow = false
          this.onEndCallbackFn()
        }
      }, 100)
    },
    closeTimeline () {
      clearInterval(this.timer)
      this.isShow = false
    }
  }
}
</script>
