<template>
  <div>
    <div class="question" v-if="is === 'question'">
      <p class="title">{{$t('Q_INPUT_UNINO')}}</p>
      <button class="btn-sqr" @click.stop.prevent="question(false)">{{$t('NO')}}</button>
      <button class="btn-sqr" @click.stop.prevent="question(true)">{{$t('YES')}}</button>
    </div>
    <div class="input" v-if="is === 'input'">
      <p class="title">{{$t('PLEASE_INPUT_UNINO')}}</p>
      <div class="alert" v-if="uninoValidation().alert">{{uninoValidation().text}}</div>
      <input type="text" readonly="readonly" size="8" max-length="8" :value="unino">
      <div class="numpad">
        <button :ref="`num${index}`" class="btn-sqr" v-for="index in arrayList(10)" :key="index" @click.prevent.stop="numpadOnClick(`${index}`)">{{index}}</button>
        <button ref="delete-btn" @click.prevent.stop="numpadOnClick('delete')" class="btn-sqr delete">&larr;</button>
        <button ref="confirm-btn" class="btn-sqr" :disabled="unino.length < 8" @click.prevent.stop="numpadOnClick('done')" :style="unino.length >= 8 && {opacity:'0.3'}">{{$t('CONFIRM')}}</button>
        <button ref="cancel-btn" class="btn-sqr" @click.prevent.stop="numpadOnClick('cancel')">{{$t('CANCEL')}}</button>
      </div>
    </div>
    <div class="result" v-if="is === 'result'">
      <p></p>
      <span class="digit">{{unino}}</span>
      <br>
      <button class="btn-sqr" @click.prevent.stop="result(false)">{{$t('EDIT')}}</button>
      <button class="btn-sqr" @click.prevent.stop="result(true)">{{$t('CONFIRM')}}</button>
    </div>
  </div>
</template>
<script>
import ebus from '../../shared/ebus.js'
import { showTimeline, hideTimeline } from './transaction.service.js'
export default {
  data () {
    return {
      unino: '',
      is: '',
      isWarning: false,
      uninoTime: 15
    }
  },
  mounted () {
    this.is = 'question'
  },
  watch: {
    is (value) {
      if (value === 'question') {
        showTimeline(this.uninoTime, () => {
          this.$emit('end')
          ebus.send({ e: 'invoice/input', arg: { 'invoice_unino': false } })
        }, true)
      }
      if (value === 'input') {
        hideTimeline()
      }
      if (value === 'result') {
        showTimeline(this.uninoTime, () => {
          this.$emit('end')
          ebus.send({ e: 'invoice/input', arg: { 'invoice_unino': this.unino } })
        })
      }
    }
  },
  methods: {
    arrayList (length) {
      return Array.from({ length }, (_, index) => index++)
    },
    question (value) {
      if (value) {
        this.is = 'input'
      } else {
        this.$emit('end')
        ebus.send({ e: 'invoice/input', arg: { 'invoice_unino': false } })
      }
    },
    result (value) {
      if (value) {
        this.$emit('end')
        ebus.send({ e: 'invoice/input', arg: { 'invoice_unino': this.unino } })
      } else {
        this.is = 'input'
      }
    },
    numpadOnClick (value) {
      let result = false
      switch (value) {
        case 'done':
          let validation = this.uninoValidation()
          if (!validation.alert) {
            this.is = 'result'
            result = true
          } else {
            this.isWarning = validation.text
            result = false
          }
          break
        case 'cancel':
          this.is = 'question'
          this.unino = ''
          this.isWarning = false
          result = true
          break
        case 'delete':
          this.unino = this.unino.replace(/.$/, '')
          result = true
          break
        default:
          if (this.unino.length >= 8) {
            result = false
          } else {
            this.unino = this.unino + value
            result = true
          }
      }
      return result
    },
    uninoValidation () {
      let cx = [1, 2, 1, 2, 1, 2, 4, 1]
      let result = { alert: false, text: '' }
      let NO = this.unino
      let SUM = 0
      if (NO.length !== 8) {
        result.text = '統編錯誤，要有 8 個數字'
        result.alert = true
      }
      let cnum = NO.split('').map(num => parseInt(num))
      for (let i = 0; i <= 7; i++) {
        SUM += cc(cnum[i] * cx[i])
      }
      if (SUM % 10 === 0) {
        result.alert = false
      } else if (cnum[6] === 7 && (SUM + 1) % 10 === 0) {
        result.alert = false
      } else {
        result.text = `統一編號：${NO} 錯誤!`
        result.alert = true
      }
      /** @param {number} n */
      function cc (n) {
        if (n > 9) {
          let s = n.toString()
          let n1 = s.substring(0, 1) * 1
          let n2 = s.substring(1, 2) * 1
          n = n1 + n2
        }
        return n
      }
      if (!result.alert) this.isWarning = false
      return result
    }
  }
}
</script>
