<template>
  <div class="transaction" v-if="isShow" :class="{alert: isAlert}">
    <div class="content">
      <div class="info">
        <p class="topic" v-t="{path:topic, arg:topicArg}" v-if="topic.length"></p>
        <div class="interactive-grid" v-if="activeMod">
          <receive v-if="activeMod === 'receive'" @end="receiveEnded"></receive>
          <unino v-if="activeMod === 'unino'" @end="uninoEnded"></unino>
        </div>
        <div class="footer"></div>
      </div>
      <timeline></timeline>
    </div>
  </div>
</template>
<script>
import receive from './transaction-receive-select'
import unino from './transaction-unino-input'
import ebus from '../../shared/ebus.js'
import timeline from './transaction-timeline'

import { showTimeline, midHandler, hideTimeline } from './transaction.service.js'

export default {
  created () {
    ebus.on(['payment/after_hint', 'payment/after_payment_begin', 'payment/after_input', 'payment/after_failed', 'payment/after_timeout'], this.onPayment)
    ebus.on(['dispense/after_start', 'dispense/after_prod_dispensed', 'dispense/after_failed'], this.onDispense)
    ebus.on(['invoice/after_hint', 'invoice/after_success', 'invoice/after_failed'], this.onInvoice)
    ebus.on('payment/after_paid', this.paymentDetailCollect)
    ebus.on('CloseTransactionPanel', this.CloseTransactionPanel)
  },
  beforeDestroy () {
    ebus.off(['payment/after_hint', 'payment/after_payment_begin', 'payment/after_input', 'payment/after_failed', 'payment/after_timeout'], this.onPayment)
    ebus.off(['dispense/after_start', 'dispense/after_prod_dispensed', 'dispense/after_failed'], this.onDispense)
    ebus.off(['invoice/after_hint', 'invoice/after_success', 'invoice/after_failed'], this.onInvoice)
    ebus.off('payment/after_paid', this.paymentDetailCollect)
    ebus.off('CloseTransactionPanel', this.CloseTransactionPanel)
  },
  data () {
    return {
      /** @type {boolean|string} */
      activeMod: false,
      isShow: false,
      isAlert: false,
      topic: '',
      paymentDetail: {},
      manPaymentMethod: '',
      afterPaymentBegin: false,
      topicArg: {}
    }
  },
  methods: {
    paymentDetailCollect ({ e, arg, to, from }) {
      this.paymentDetail = arg.data
    },
    onPayment ({ e, arg, to, from }) {
      let midObj = midHandler(arg.mid, arg.msg)
      if (midObj) {
        showTimeline(midObj.time, () => {
          if (this.afterPaymentBegin) {
            this.$emit('end')
          } else {
            this.isShow = false
          }
        })
        this.topic = midObj.text
        this.isAlert = midObj.isAlert
        this.isShow = true
      } else if (arg.payment_method && arg.payment_method instanceof Object) {
        this.isShow = false
      }
      if (arg.data.psc_kbzpay.qrcodeUrl) {
        ebus.emit('qrcodeUrl', arg.data.psc_kbzpay.qrcodeUrl)
      }
      if (e === 'payment/after_payment_begin') {
        // When after payment begin, transaction interactive place ended should be able to close whole the payment board
        this.afterPaymentBegin = true
      }
      if (e === 'payment/after_input') {
        this.afterPaymentBegin = true
      }
      if (arg.msg) {
        this.topicArg = { 'var': arg.msg }
      }
    },
    onDispense ({ e, arg, to, from }) {
      let midObj = midHandler(arg.mid)
      this.topic = midObj.text
      this.isAlert = midObj.isAlert
      this.isShow = true
      showTimeline(midObj.time, () => {
        this.$emit('end')
      }, false)
    },
    onInvoice ({ e, arg, to, from }) {
      let midObj = midHandler(arg.mid)
      let topic = midObj.text
      if ('invoice_unino' in arg) {
        topic = ''
        this.activeMod = 'unino'
      } else if ('invoice_receipt' in arg) {
        topic = ''
        this.activeMod = 'invoice'
      } else {
        this.activeMod = false
      }
      this.topic = topic
      this.isAlert = midObj.isAlert
      this.isShow = true
    },
    receiveEnded () {
      this.topic = 'INVOICE_PRINTING'
      hideTimeline()
      this.activeMod = false
    },
    uninoEnded () {
      this.topic = 'INVOICE_PRINTING'
      hideTimeline()
      this.activeMod = false
    },
    CloseTransactionPanel () {
      this.isShow = false
    }
  },
  components: {
    receive,
    unino,
    timeline
  }
}
</script>
