<template>
  <div class="all-products">
    <div v-if="totalPages !== 1" class="pagi pagi-left" @click.stop="page('prev')"></div>
    <div v-if="totalPages !== 1" class="pagi pagi-right" @click.stop="page('next')"></div>
    <div v-for="index in range(3)" :key="index" class="product-row-bg" :style="{bottom:(400*index + 45) + 'px'}"></div>
    <transition name="fade-in">
      <div class="product-rows" v-show="!productsOnLoad">
        <transition-group @after-leave="afterLeave()" :key="index" :durration="1000" :name="pageDirection !== 'toLeft' ? 'swipe-right' : 'swipe-left'" :class="[`row${index}`]" mode="out-in" class="product-row" v-for="index in range(layerList.length)" tag="div">
          <div v-show="productShow(index, index2)" class="product-row-item" @click.stop="productOnClick(product)" :style="resetLeftOffset(index, index2)" :class="{soldout:product.soldout}" v-for="(product, index2) in layerList[index]" :key='index2'>
            <img :src="layerList[index][index2].img" @error="imgOnError(index, index2)">
            <div class="price">{{layerList[index][index2].price}}</div>
          </div>
        </transition-group>
      </div>
    </transition>
    <div class="logo">Powered by www.transtep.com V3.0</div>
  </div>
</template>
<script>
import IProducts from '../../store/products'
import ebus from '../../shared/ebus'

export default {
  mounted () {
    ebus.on('dispense/enter_END', this.renewProductBoard)
  },
  destroyed () {
    ebus.off('dispense/enter_END', this.renewProductBoard)
  },
  data () {
    return {
      layerList: IProducts.layerList,
      maxItemPerRow: IProducts.Products.maxItemsPerRow,
      currentPage: 1,
      shownPerRow: 4,
      pageDirection: 'toLeft',
      pageLeadingIndex: [0, 0, 0],
      productsOnLoad: false,
      pageSwipping: false
    }
  },
  computed: {
    totalPages () {
      let layerItemsCount = this.layerList.map(ele => ele.length)
      let maxItemsLayer = Math.max(...layerItemsCount)
      return Math.ceil(maxItemsLayer / this.shownPerRow)
    },
    repeatedIndex () {
      let listsLength = this.layerList.map(ele => ele.length)
      /** @type {number[][]} */
      let range = listsLength.map((len, index) => {
        let lead = Math.min(this.layerList[index].length - this.shownPerRow, (this.totalPages - 1) * this.shownPerRow)
        return this.range(this.shownPerRow - (len % this.shownPerRow), lead)
      })
      return range
    }
  },
  methods: {
    range: (length, start = 0) => Array.from({ length }, (_, i) => i + start),
    productOnClick (product) {
      if (product.soldout) return false
      ebus.send({ e: 'order/ordered', arg: { p_id: product.id } })
      return true
    },
    page (direction) {
      if (this.pageSwipping) return
      this.pageSwipping = true
      if (direction === 'prev') {
        this.pageDirection = this.currentPage - 1 < 1 ? 'toRight' : 'toLeft'
        this.currentPage = this.currentPage - 1 < 1 ? this.totalPages : this.currentPage - 1
      } else if (direction === 'next') {
        this.pageDirection = this.currentPage + 1 > this.totalPages ? 'toLeft' : 'toRight'
        this.currentPage = this.currentPage + 1 > this.totalPages ? 1 : this.currentPage + 1
      }
      this.pageLeadingIndex = this.pageLeadingIndex.map((num, index) => {
        return Math.min(this.layerList[index].length - this.shownPerRow, (this.currentPage - 1) * this.shownPerRow)
      })
    },
    /**
     * @param {number} index
     * @param {number} index2
     */
    productShow (index, index2) {
      return ~this.range(this.shownPerRow, this.pageLeadingIndex[index]).indexOf(index2)
    },
    resetLeftOffset (index, index2) {
      let occupied = Math.min(this.shownPerRow, this.layerList[index].length) * 210
      let leftStartPoint = (1080 - occupied) / 2
      let leftResetOn = 0
      let isShow = this.productShow(index, index2)
      let result = {
        left: `0px`
      }
      if (isShow) {
        leftResetOn = leftStartPoint + 210 * (this.range(this.shownPerRow, this.pageLeadingIndex[index]).indexOf(index2))
        if (this.layerList[index].length % this.shownPerRow &&
          ~this.repeatedIndex[index].indexOf(index2)) {
          // Calculate repeated item which could be show on last page
          result.transition = '1s'
        }
      } else {
        leftResetOn = this.pageDirection === 'toLeft' ? 1080 : -1080
        // leftResetOn = leftStartPoint + 210 * (index2 % this.shownPerRow)
      }
      result.left = `${leftResetOn}px`
      return result
    },
    imgOnError () {

    },
    afterLeave () {
      this.pageSwipping = false
    },
    async renewProductBoard () {
      console.log('start renew')
      this.productsOnLoad = true
      await IProducts.renewList()
      this.layerList = IProducts.layerList
      this.maxItemPerRow = IProducts.Products.maxItemsPerRow
      this.productsOnLoad = false
    }
  }
}
</script>
<style scoped>
.swipe-right-enter-active,
.swipe-right-leave-active,
.swipe-left-enter-active,
.swipe-left-leave-active {
  position: absolute;
  transition: 1s;
}
.swipe-right-enter,
.swipe-left-leave-to {
  opacity: 0;
  transform: translateX(1080px);
}
.swipe-right-leave-to,
.swipe-left-enter {
  opacity: 0;
  transform: translateX(-1080px);
}

.fade-in-leave-active,
.fade-in-enter-active {
  transition: 1s;
}

.fade-in-leave,
.fade-in-enter {
  opacity: 0;
}

.logo {
  position: fixed;
  top: 1860px;
  right: 0px;
  color: white;
  box-shadow: 2px;
  font-size: 15px;
  font-weight: 100;
  margin: 30px;
  text-align: left;
  text-shadow: 2px 2px black;
  font-family: "文泉驛正黑";
}

/* .move {
  transition: 1s;
} */
</style>
