<template>
  <div class="fullAd" v-show="isShow" @click.stop="toSESSION">
    <template v-for="(ele, i) in list">
      <div class="ads" :key="i">
        <transition mode="out-in" name="fade">
          <video preload="metadata" :src="ele.src" v-if="ele.type === 'video' " v-show="index === i " :ref="`video${i}`" @ended="next()"></video>
          <img :src="ele.src" v-if="ele.type === 'image'" v-show="index === i" />
        </transition>
      </div>
    </template>
    <div class="kick-skip-ad">
      <div class="kick-title" v-text="title"></div>
      <div class="kick-gesture"></div>
    </div>
  <div class="logo">Powered by www.transtep.com V3.0</div>
  </div>
</template>
<script>
import config from '../shared/config'
import ebus from '../shared/ebus'
import log from '../shared/log'
export default {
  mounted () {
    this.getList()
    ebus.send({ e: 'sess/goto_none' })
    ebus.send({ e: 'sess/start' })
    ebus.on('sess/enter_IDLE', () => (this.isShow = true))
    ebus.on('sess/enter_SESSION', () => {
      this.isShow = false
      ebus.emit('CloseTransactionPanel')
    })
  },
  watch: {
    isShow (value) {
      console.log('idle:' + value)
      if (!this.afterInit) return
      if (value) {
        this.resume()
      } else {
        this.pause()
      }
    },
    index (value) {
      if (this.afterInit) localStorage.setItem('idleAd', value)
    }
  },
  data () {
    return {
      afterInit: false,
      list: [],
      index: 0,
      timer: undefined,
      isShow: true,
      title: config.params.customText['kick-title']
    }
  },
  props: {},
  methods: {
    getList: async function () {
      let list = await config.getAdList()
      let storageId = parseInt(localStorage.getItem('idleAd'))
      if (!isNaN(storageId) && list.length - 1 >= storageId) {
        this.index = storageId
      }
      this.list = list.filter(ele => ele.position === 'full')
      setTimeout(() => {
        this.isShow && this.resume()
        this.afterInit = true
      }, 1000)
    },
    pause () {
      if (this.list[this.index].type === 'video') {
        this.$refs[`video${this.index}`][0].pause()
      } else {
        clearTimeout(this.timer)
      }
    },
    next () {
      console.log('next: index=', this.index, 'list.length=', this.list.length)
      this.index = this.list.length <= this.index + 1 ? 0 : this.index + 1
      if (this.list[this.index].type === 'image') {
        this.timer = setTimeout(
          () => this.next(),
          this.list[this.index].duration * 1000
        )
      } else {
        let refName = `video${this.index}`
        this.$refs[refName][0].play()
      }
      log.advertisement(this.index, this.list[this.index].title)
    },
    resume () {
      console.log('resume: index=', this.index, 'list.length=', this.list.length)
      this.index = this.list.length <= this.index + 1 ? 0 : this.index + 1
      if (this.list[this.index].type === 'video') {
        let refName = `video${this.index}`
        this.$refs[refName][0].load()
        this.$refs[refName][0].play()
      } else {
        this.timer = setTimeout(
          () => this.next(),
          this.list[this.index].duration * 1000
        )
      }
    },
    toSESSION () {
      ebus.send({ e: 'sess/session_begin' })
    }
  }
}
</script>
<style scoped>
.fullAd {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto;
  width: 1080px;
  height: 1920px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  background: rgb(48, 47, 47);
  z-index: 9999;
  transition: opacity 1s;
  overflow: hidden;
}
.ads > video {
  width: 1080px;
  height: 1920px;
}
.ads > img {
  max-width: 1080px;
  max-height: 1920px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.kick-skip-ad {
  position: absolute;
  top: 900px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
}
.kick-skip-ad .kick-title {
  position: absolute;
  top: 30px;
  left: 200px;
  font-size: 36px;
  font-weight: 100;
  color: #fff;
}
.kick-skip-ad .kick-gesture {
  position: absolute;
  top: 90px;
  left: 250px;
  width: 94px;
  height: 128px;
  background: url(../assets/gesture-point-white.png) no-repeat 50% 50%;
  background-size: contain;
}

.logo {
  position: fixed;
  top: 1860px;
  right: 0px;
  color: white;
  box-shadow: 2px;
  font-size: 15px;
  font-weight: 100;
  margin: 30px;
  text-align: left;
  text-shadow: 2px 2px black;
  font-family: "文泉驛正黑";
}
</style>
