<template>
  <div class="top-marquee">
    <div class="content">
      <div class="marquee">
        <span v-if="countdownTimer" class="marquee-span" ref="marquee-span" :style="{left:`${spanLeft}px`}">{{currentText}}</span>
      </div>
    </div>
  </div>
</template>
<script>
import marquee from '../store/marquee.js'
import ebus from '../shared/ebus'
export default {
  data () {
    return {
      list: marquee.getList(),
      currentId: 0,
      spanLeft: 1080,
      marqueeSec: 30,
      countdownTimer: 31,
      timerId: -1,
      processing: false
    }
  },
  computed: {
    currentText () {
      return this.list[this.currentId]
    }
  },
  mounted () {
    this.timerId = setInterval(this.moveMarquee, 1000)
    this.$on('end', this.showMarquee)
    ebus.on('sess/enter_SESSION', this.startProcess)
    ebus.on('sess/enter_IDLE', this.stopProcess)
  },
  destroyed () {
    ebus.off('sess/enter_SESSION', this.startProcess)
    ebus.off('sess/enter_IDLE', this.stopProcess)
    clearInterval(this.timerId)
    this.$off('end', this.showMarquee)
  },
  methods: {
    startProcess () {
      this.processing = true
    },
    stopProcess () {
      this.processing = false
    },
    showMarquee: function () {
      this.currentId = this.currentId + 1 >= this.list.length ? 0 : this.currentId + 1
      this.countdownTimer = this.marqueeSec + 1
      this.spanLeft = 1080
    },
    moveMarquee () {
      if (!this.countdownTimer) {
        this.$emit('end')
        return
      }
      this.countdownTimer--
      let spanWidth = (this.$refs['marquee-span']).clientWidth
      this.spanLeft = this.spanLeft - (1080 + spanWidth) / this.marqueeSec
    }
  }
}
</script>
<style scoped>
.marquee-span {
  position: absolute;
  transition: 1s linear;
}
</style>
