<template>
  <div class="standard" v-show="isShow">
    <template v-for="(ele, i) in list">
      <div class="ads" :key="i">
        <transition mode="out-in" name="fade">
          <video preload="metadata" :src="ele.src" v-if="ele.type === 'video' " v-show="index === i " :ref="`video${i}`" @ended="next()"></video>
          <img :src="ele.src" v-if="ele.type === 'image'" v-show="index === i" />
        </transition>
      </div>
    </template>
  </div>
</template>
<script>
import config from '../shared/config'
import ebus from '../shared/ebus'
import log from '../shared/log.js'
export default {
  mounted () {
    this.getList()
    ebus.on('sess/enter_IDLE', () => (this.isShow = false))
    ebus.on('sess/enter_SESSION', () => (this.isShow = true))
  },
  watch: {
    isShow (value) {
      console.log('standard:' + value)
      if (!this.afterInit) return
      if (value) {
        this.resume()
      } else {
        this.pause()
      }
    },
    index (value) {
      if (this.afterInit) localStorage.setItem('standardAd', value)
    }
  },
  data () {
    return {
      afterInit: false,
      list: [],
      index: 0,
      timer: undefined,
      isShow: false
    }
  },
  props: {},
  methods: {
    getList: async function () {
      let list = await config.getAdList()
      let storageId = parseInt(localStorage.getItem('standardId'))
      if (!isNaN(storageId) && list.length - 1 >= storageId) {
        this.index = storageId
      }
      this.list = list.filter(ele => ele.position === 'standard')
      setTimeout(() => {
        this.isShow && this.resume()
        this.afterInit = true
      }, 1000)
    },
    pause () {
      if (this.list[this.index].type === 'video') {
        this.$refs[`video${this.index}`][0].pause()
      } else {
        clearTimeout(this.timer)
      }
    },
    next () {
      this.index = this.list.length <= this.index + 1 ? 0 : this.index + 1
      if (this.list[this.index].type === 'image') {
        this.timer = setTimeout(
          () => this.next(),
          this.list[this.index].duration * 1000
        )
      } else {
        let refName = `video${this.index}`
        this.$refs[refName][0].play()
      }
      log.advertisement(this.index, this.list[this.index].title)
    },
    resume () {
      if (this.list[this.index].type === 'video') {
        console.log('standard resume video')
        let refName = `video${this.index}`
        this.$refs[refName][0].play()
      } else {
        this.timer = setTimeout(
          () => this.next(),
          this.list[this.index].duration * 1000
        )
      }
    }
  }
}
</script>
<style scoped>
.standard {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: auto;
  width: 1080px;
  height: 590px;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.582);
  z-index: 9998;
  transition: opacity 1s;
  overflow: hidden;
}
.ads > video {
  width: 1080px;
  height: 590px;
}
.ads > img {
  max-width: 1080px;
  max-height: 590px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
