<template>
  <div>
    <transition mode="out-in" name="fade">
      <div class="splash" v-if="prepare">
        <div class="splash-title">
          <h1>IVM</h1>
          <p>
            <img src="./assets/transtep-logo-gray-on-white.png" alt="">
          </p>
        </div>
      </div>
    </transition>
    <full v-if="!prepare"></full>
    <standard v-if="!prepare"></standard>
    <div class="canvas">
      <div class="propotional-stretch-wrapper">
        <div class="propotional-stretch ivm" v-if="!prepare">
          <div class="wrap">
            <!-- <numpad></numpad> -->
            <div class="bg"></div>
            <marquee-pad></marquee-pad>
            <product-board></product-board>
            <payment-board></payment-board>
            <language-select></language-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ebus from './shared/ebus'
import full from './components/idle'
import standard from './components/standard'
import config from './shared/config.js'
// import numpad from './components/product-selection/numpad'
import paymentBoard from './components/payment-board'
import productBoard from './components/product-selection/product-board'
import marqueePad from './components/marquee'
import LanguageSelect from './components/language-select'
import product from './store/products'
import marquee from './store/marquee.js'

export default {
  name: 'app',
  async mounted () {
    console.info('初始化設定檔')
    await config.configure()
    console.log('設定初始化完成')
    console.info('RSS讀取中')
    let state = await marquee.parseRSS()
    console.info('RSS取得' + (state && '完成') || '失敗')
    console.log('ebus 連線中')
    await ebus.connect()
    console.log('ebus 已連線')
    ebus.send({ e: 'sys/start' })
    await product.renewList()
    this.$i18n.locale = config.getLocalization()
    console.info('語言設定: ' + config.getLocalization())
    setTimeout(() => {
      this.prepare = false
    }, 1000)
  },
  data () {
    return {
      prepare: true
    }
  },
  components: {
    full,
    standard,
    // numpad,
    paymentBoard,
    productBoard,
    marqueePad,
    LanguageSelect
  }
}
</script>

<style>
#app {
  top: 0px;
  left: 0px;
  width: 1080px;
  height: 1920px;
}
.splash {
  background-color: #e7e5e4;
  height: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.splash .splash-title {
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 128px;
  margin-bottom: 0;
  opacity: 0.75;
  letter-spacing: -1px;
  z-index: 10000;
}
.splash p {
  margin: 0;
  color: #555;
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
}
.splash p img {
  display: block;
  margin: 20px auto;
  width: 140px;
  height: auto;
  opacity: 0.5;
}

.splash-title h1 {
  color: #131313;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
    -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

.main-page {
  position: absolute;
  height: 1920px;
  width: 1080px;
  top: 0px;
  left: 0px;
}

.main-page .wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
  max-height: 1920px;
  overflow: hidden;
  padding-bottom: 178%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
